@import "@material/animation/functions";

@keyframes slide-in {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-out {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes rotate-to {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}
@keyframes rotate-back {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0deg);
  }
}

footer {
  max-width: 768px;
  width: 100%;
  position: fixed;

  z-index: 50;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;

  .inner {
    position: relative;
    z-index: 100;
    background: #fff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border: solid 1px rgba(0, 0, 0, 0.2);
  }

  &.is-collapsed {
    nav {
      display: none;
      animation: mdc-animation-exit-temporary(/* $name: */ slide-out, /* $duration: */ 350ms);
    }
    .overlay {
      animation: mdc-animation-exit-temporary(/* $name: */ fade-out, /* $duration: */ 350ms);
    }
    button {
      //animation: mdc-animation-exit-temporary(rotate-back, 150ms);
      i.material-icons {
        transition: all 100ms $mdc-animation-acceleration-curve-timing-function;
        background: rgba(0,0,0,0);
      }
    }
  }

  &.is-static {
    nav {
      display: block;
    }
  }

  &.is-expanded {
    nav {
      display: block;
      animation: mdc-animation-enter(/* $name: */ slide-in, /* $duration: */ 350ms);
    }
    .overlay {
      animation: mdc-animation-enter(/* $name: */ fade-in, /* $duration: */ 350ms);
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.87);
      z-index: 9;
    }
    button {
      //animation: mdc-animation-exit-permanent(rotate-to, 350ms);
      i.material-icons {
        transition: all 100ms $mdc-animation-acceleration-curve-timing-function;
        background: rgba(0,0,0,0.5);
        color: transparent;
        font-size: 8px;
        border-radius: 16px;
        width: 48px;
      }
    }
  }

  button {
    display: block;
    margin: 0 auto;
    padding: 12px 0 6px;
    border: none;
    outline: none;
    background: none;
    i.material-icons {
      text-align: center;
    }
  }

  nav {
    padding: 0 32px;

    li {
      display: block;
      margin: 8px 0 8px 0;
      line-height: 2;
      font-weight: bold;
      text-transform: uppercase;
      color: #121212;
      a {
        &.anchor {
          &--about i {
            color: #121212;
          }
          &--work i {
            color: #121212;
          }
          &--social i {
            color: #121212;
          }
          &--zoomoid i {
            color: #121212;
            
          }
        }
        i.material-icons {
          line-height: 1;
          padding-right: 8px;
        }
        &.is-active {
          background: rgba(214, 214, 214, 1);
          border-radius: 5px;
        }
        vertical-align: bottom;
        text-decoration: none;
        width: auto;
        font-size: 1.2em;
        padding: 12px 12px 8px 12px;

        &:link,
        &:visited {
          color: inherit;
        }
      }
    }

  }
}
