p {
  a {
    color: inherit;
  }
}
.mdc-list {
  a {
    text-decoration: none;
    color: inherit;
  }
}
.mdc-list-item {
  padding: 0 16px 4px;
}
h3 {
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
  letter-spacing: -1px;
}