.hidden-mark {
    &::after {
        color: #999;
    }
    &.hidden-mark--dot::after {
        content: "\2022";
    }
    &.hidden-mark--return::after {
        content: "\AC";
    }
}
.container {
    padding: 24px 12px;
    .image {
        img {
            max-width: 360px;
            width: 100%;
            height: auto;
            border-radius: 50%;
            margin: 24px auto;
            display: block;
        }
    }
    .text {
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
        h3 {
            font-family: "Roboto Mono", monospace;
            text-transform: uppercase;
            letter-spacing: -1px;
        }
        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 2;
            color: #222;
            a {
                border-bottom-color: #999;
                color: inherit;
            }
        }
    }
}