main {
  margin: 24px 0; }

.two-column {
  padding: 24px 0;
  display: flex;
  flex-flow: row wrap; }
  @media only screen and (max-width: 769px) {
    .two-column .left {
      width: 100%; } }
  @media only screen and (min-width: 769px) {
    .two-column .left {
      width: 46%;
      position: relative; } }
  .two-column .left img {
    max-width: 360px;
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin: 24px auto;
    display: block; }
  @media only screen and (max-width: 769px) {
    .two-column .right {
      width: 100%; } }
  @media only screen and (min-width: 769px) {
    .two-column .right {
      margin-left: 4%;
      width: 50%; } }
  .two-column .right h3 {
    font-family: "Roboto Mono", monospace;
    text-transform: uppercase;
    letter-spacing: -1px; }
  .two-column .right p {
    font-size: 16px;
    font-weight: 400;
    color: #222; }
    .two-column .right p a {
      border-bottom-color: #999; }
    .two-column .right p em {
      margin: 12px 0;
      display: block;
      font-size: 13px;
      color: #999;
      padding-left: 12px;
      border-left: 2px solid #999; }
