* {
  box-sizing: border-box; }

html {
  height: 100%;
  width: 100%;
  position: absolute; }

body {
  margin: 0;
  height: 100%;
  width: 100%;
  position: relative; }

.width-wrapper {
  max-width: 1200px;
  width: 92%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box; }
  @media only screen and (max-width: 769px) {
    .width-wrapper {
      position: static;
      padding: 75px 4% 0; } }
  @media only screen and (min-width: 769px) {
    .width-wrapper {
      position: relative;
      padding: 75px 75px 0; } }

@media only screen and (max-width: 1440px) {
  header {
    position: block;
    margin-bottom: 24px; } }

@media only screen and (min-width: 1440px) {
  header {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    padding-bottom: 32px; } }

header .title {
  flex-grow: 1;
  text-transform: uppercase;
  letter-spacing: -0.4px; }
  header .title h5 {
    font-size: 13px;
    font-weight: 500; }

header nav {
  margin-top: 16px;
  display: flex;
  flex-grow: 1;
  flex-direction: row; }
  header nav a {
    font-size: 16px;
    margin: 0 8px; }
    header nav a.active {
      border-bottom-color: #999; }

nav.mobile {
  display: none; }

.expanded-header {
  width: 100%;
  position: relative;
  margin: 48px 0;
  padding-top: 56.25%; }
  .expanded-header iframe {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%; }

main {
  flex-grow: 1; }
  main section#everydays {
    box-sizing: border-box;
    padding: 24px 0; }
    main section#everydays h3 {
      margin: 24px 0; }
    main section#everydays .wrapper {
      display: flex;
      flex-flow: row wrap;
      width: 101.8%;
      margin-left: -1.8%;
      margin-top: -1.8%; }
      main section#everydays .wrapper li {
        display: block;
        margin-left: 1.768172888015717%;
        margin-top: 16px;
        width: 31.56516044531762%;
        align-self: flex-start;
        list-style: none outside none; }
        main section#everydays .wrapper li img {
          width: 100%;
          height: auto; }

footer {
  padding: 1em 2em;
  text-align: center; }
  footer::before {
    content: '';
    width: 150px;
    border-top: solid 1px #999;
    position: absolute;
    height: 1px;
    left: calc(50% - 75px); }
  footer a {
    display: inline-block;
    font-size: 1em;
    padding-top: 1em;
    font-family: "Montserrat", sans-serif !important; }

.typography h3 {
  font-family: "Roboto Mono", monospace;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: normal; }

.inverted {
  min-height: 100%;
  background: #222;
  color: #fff; }
  .inverted * {
    color: inherit !important; }

@media only screen and (max-width: 769px) {
  main section#everydays .wrapper {
    width: 101.8%;
    margin-left: -1.8%;
    margin-top: -1.8%; }
    main section#everydays .wrapper li {
      margin-left: 1.768172888015717%;
      margin-top: 6px;
      width: 48.23182711198428%; }
  .two-column .left {
    flex-grow: 1;
    width: 100%; }
  .two-column .right {
    flex-grow: 1;
    width: 100%; }
  nav.mobile {
    margin-left: -75px;
    width: calc(100% + 150px);
    display: block;
    padding-bottom: 24px; }
    nav.mobile a {
      display: block;
      padding: 6px 0;
      text-align: center;
      border-bottom: none; }
      nav.mobile a.active {
        text-decoration: underline;
        text-decoration-color: #999; }
  nav:not(.mobile) {
    display: none; } }

.gallery-frame {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.87); }
  .gallery-frame .prev,
  .gallery-frame .next,
  .gallery-frame .close {
    background: rgba(0, 0, 0, 0.1);
    height: 66px;
    width: 66px;
    line-height: 1;
    position: absolute;
    border: none;
    outline: none;
    color: #fff;
    font-size: 50px;
    padding: 8px;
    z-index: 12;
    cursor: pointer; }
    .gallery-frame .prev i,
    .gallery-frame .next i,
    .gallery-frame .close i {
      font-size: inherit; }
  .gallery-frame .close {
    top: 0;
    right: 0; }
  .gallery-frame .prev {
    left: 0;
    top: 50%; }
  .gallery-frame .next {
    right: 0;
    top: 50%; }
  .gallery-frame.is-hidden {
    display: none; }
  .gallery-frame .content {
    height: 100%;
    /* position: absolute; */
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
    /* align-content: center; */ }
    .gallery-frame .content .img {
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      background-color: transparent;
      z-index: 10;
      position: relative;
      display: block;
      flex-grow: 1;
      width: 100%;
      margin: 32px auto; }
    .gallery-frame .content .actions {
      padding: 16px;
      margin: 0 15%;
      background: rgba(0, 0, 0, 0.1);
      color: #fff;
      width: 100%;
      vertical-align: middle; }
      .gallery-frame .content .actions .download::after {
        content: 'Download'; }

main.is-hidden {
  overflow: hidden; }
