.typography {
  color: #999; }
  .typography h1,
  .typography h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 0;
    color: #222; }
  .typography h3,
  .typography h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 0;
    color: #222; }
  .typography h5,
  .typography h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    margin: 0; }
  .typography h1 {
    font-size: 42px; }
  .typography h2 {
    font-size: 38px; }
  .typography h3 {
    font-size: 32px; }
  .typography h4 {
    font-size: 28px; }
  .typography h5 {
    font-size: 18px; }
  .typography h6 {
    font-size: 16px; }
  .typography p {
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    font-size: 1.33em;
    line-height: 1.5; }
  .typography .abstract,
  .typography blockquote {
    font-family: 'Roboto Mono', monospace;
    font-variant: normal;
    font-style: normal; }
  .typography em {
    font-family: 'Roboto Mono', monospace;
    font-variant: normal;
    font-style: normal;
    font-size: 1.5em; }
  .typography article {
    padding: 2rem;
    width: 80%;
    margin: 0 auto; }
  .typography code {
    font-family: 'Roboto Mono', monospace; }
  .typography a {
    font-family: 'Roboto Mono', monospace;
    color: inherit;
    text-decoration: none;
    border-bottom: solid 2px transparent; }
    .typography a:hover, .typography a:active {
      border-color: #999; }

.hidden-mark::after {
  color: #999; }

.hidden-mark.hidden-mark--dot::after {
  content: "\2022"; }

.hidden-mark.hidden-mark--return::after {
  content: "\AC"; }
