<article id="about">
  <div class="container">
    <div class="image">
      <img src="https://cdn.occloxium.com/i/occloxium/alex.jpg">
    </div>
    <div class="text">
      <h3 class="mdc-typography--headline3">
        <span class="hidden-mark hidden-mark--dot">About</span><span
          class="hidden-mark hidden-mark--return">me</span>
      </h3>
      <p class="mdc-typography--body1">
        I currently study Computer Science at RWTH Aachen University, Germany, while compensating with
        a lot of 3D art and sketches as well
        as music production for the lack of creativity and expressiveness associated with studying a rather
        theoretical
        field.
      </p>
      <p class="mdc-typography--body1">
        With my rare free time, I contribute to several open-source projects, including a few web
        projects and a
        <a href="https://github.com/occloxium/Monoid">software synthesizer</a>.
      </p>
      <p class="mdc-typography--body1">
        I am doing a series of 3D renderings where I'm creating a new one each day. Some might call
        this
        <a href="https://www.instagram.com/beeple_crap/" target="_blank">"Everydays"</a> but since they
        finish infrequently, I prefer to call them
        <a href="https://www.instagram.com/occloxium/" target="_blank">"Anydays"</a>.
      </p>
      <p class="mdc-typography--body1">
        Under the alias of
        <a href="https://www.zoomoid.de" target="_blank">zoomoid</a>, I produce electronic music, crawling
        my way through the BPM scale. I've recently produced a complete album, available on all trending <a
          href="https://open.spotify.com/album/2zF1wOwINENOR1fTGLqBEF?si=RlgSYU2cQwy3pn9BN0Y9Fw"
          target="_blank">platforms for streaming</a> and, what I would be immensely grateful for, purchase &ndash;
        but also to download for free, as with everything I do.
      </p>
    </div>
  </div>
</article>