<article id="social">
  <h3 class="mdc-typography--headline3"><span class="hidden-mark hidden-mark--return">Contact</span></h3>
  <p class="mdc-typography--body1">
    For any business inquiries or requests please contact me via email at
    <a href="mailto:alex@zoomoid.de">alex@zoomoid.de</a>.</p>
  <p class="mdc-typography--body1">
    Since I'm obligated to give information about data protection and
    privacy as well as legally binding contact &amp; ownership information,
    here's where to find it: <a href="/privacy">Impressum</a>
  </p>
  <h3 class="mdc-typography--headline3"><span class="hidden-mark hidden-mark--dot">Social</span><span
      class="hidden-mark hidden-mark--return">Media</span></h3>
  <p class="mdc-typography--body1">
    If you'd just like to stalk me on social media, there you go:
  </p>
  <ul class="mdc-list">
    <a href="https://instagram.com/zoomoid">
      <li class="mdc-list-item" tabindex="0">
        <span class="mdc-list-item__text">
          <span class="mdc-list-item__primary-text">@zoomoid</span>
          <span class="mdc-list-item__secondary-text">Instagram</span>
        </span>
      </li>
    </a>
    <a href="https://instagram.com/occloxium">
      <li class="mdc-list-item">
        <span class="mdc-list-item__text">
          <span class="mdc-list-item__primary-text">@occloxium</span>
          <span class="mdc-list-item__secondary-text">Instagram</span>
        </span>
      </li>
    </a>
    <a href="https://www.youtube.com/channel/UCg0yVDwpB9QphFbsGnV-8tQ/">
      <li class="mdc-list-item">
        <span class="mdc-list-item__text">
          <span class="mdc-list-item__primary-text">Alexander Bartolomey</span>
          <span class="mdc-list-item__secondary-text">YouTube</span>
        </span>
      </li>
    </a>
    <a href="https://github.com/occloxium">
      <li class="mdc-list-item">
        <span class="mdc-list-item__text">
          <span class="mdc-list-item__primary-text">occloxium</span>
          <span class="mdc-list-item__secondary-text">GitHub/GitLab</span>
        </span>
      </li>
    </a>
    <a href="https://twitter.com/zoomoiid">
      <li class="mdc-list-item">
        <span class="mdc-list-item__text">
          <span class="mdc-list-item__primary-text">zoomoiid</span>
          <span class="mdc-list-item__secondary-text">Twitter</span>
        </span>
      </li>
    </a>
  </ul>
  <p class="mdc-typography--body1">If you'd like to go for a coffee, hit me
    up as well, I'm always down for that, assuming you are in my area!</p>
</article>
<script>
  const list = new MDCList(document.querySelector('.mdc-list'));
  const listItemRipples = list.listElements.map((listItemEl) => new
    MDCRipple(listItemEl));
</script>